Name- Akarsh Singh

Roll No.- 59

PRN- 1032212466

Panel- D                        Batch- D2

Subject- DEC

Assignment No.- 2

Missing Values And Noise Data

**1) Importing Libraries and Creating a Sample Dataset**

In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer

data = {
    'Age': [22, 28, None, 31, 45, 50],
    'Income': [48000, 55000, 60000, None, 75000, 90000],
    'Education': ['Bachelor', 'Master', 'Bachelor', 'PhD', None, 'Master']
}

df = pd.DataFrame(data)
print(df)

    Age   Income Education
0  22.0  48000.0  Bachelor
1  28.0  55000.0    Master
2   NaN  60000.0  Bachelor
3  31.0      NaN       PhD
4  45.0  75000.0      None
5  50.0  90000.0    Master

**2) Finding Columns with Missing Values**

In [2]:
x= df.columns[df.isna().any()].tolist()
print(x)

['Age', 'Income', 'Education']

**3) Imputing Missing Values**

In [3]:
imputer_num = SimpleImputer(strategy='mean')
imputer_cat = SimpleImputer(strategy='most_frequent')

df[['Age', 'Income']] = imputer_num.fit_transform(df[['Age', 'Income']])

df['Education'] = imputer_cat.fit_transform(df[['Education']])
print(df)

    Age   Income Education
0  22.0  48000.0  Bachelor
1  28.0  55000.0    Master
2  35.2  60000.0  Bachelor
3  31.0  65600.0       PhD
4  45.0  75000.0      None
5  50.0  90000.0    Master

**4) Handling Missing Values and Mathematical Operations**

In [4]:
total_income = df['Income'].sum()
print("Total Income:", total_income)

Total Income: 393600.0

**5) Combining Data into DataFrames**

In [5]:
df1 = pd.DataFrame({'A': [1, 2, 3]})
df2 = pd.DataFrame({'A': [4, None, 6]})

combined_df = pd.concat([df1, df2], ignore_index=True)
print(combined_df)

     A
0  1.0
1  2.0
2  3.0
3  4.0
4  NaN
5  6.0